* {
    box-sizing: border-box;
}
.graghWhole {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    /* margin-bottom: 50px; */
}
.gragh {
    /* position: relative; */
    /* background-color: rgb(194, 255, 159); */
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
}
.gragh #absence {
    /* position: absolute; */
    background-color: rgb(164, 164, 164);
    width: auto;
    height: 50px;
}
.gragh #late {
    background-color: rgb(251, 255, 206);
    width: auto;
    height: 100px;
}
.gragh #attendance {
    background-color: rgb(171, 255, 122);
    width: auto;
    height: 200px;
}
