* {
    box-sizing: border-box;
}
.graghWhole {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    /* margin-bottom: 50px; */
}
.gragh {
    /* position: relative; */
    /* background-color: rgb(194, 255, 159); */
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
}
.gragh #absence {
    /* position: absolute; */
    border-radius: 8px;
    background-color: rgb(203, 203, 203);
    width: 12px;
    height: 80px;

    animation-name: gauge-bar;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
/* @keyframes gauge-bar {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
} */
.gragh #late {
    border-radius: 8px;
    background-color: rgb(241, 254, 105);
    width: 12px;
    height: 140px;
}
.gragh #attendance {
    border-radius: 8px;
    background-color: rgb(171, 255, 122);
    width: 12px;
    height: 200px;
}
.gragh #early {
    border-radius: 8px;
    background-color: rgb(206, 206, 206);
    width: 12px;
    height: 10px;
}
.color {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#classColor {
    margin-top: 5px;
    width: 12px;
    height: 5px;
}
.one {
    border: solid rgb(255, 38, 0) 0.5px;
    border-radius: 10px;
    background-color: rgb(255, 38, 0);
}
.two {
    border: solid rgb(255, 153, 0) 0.5px;
    border-radius: 10px;
    background-color: rgb(255, 153, 0);
}
.three {
    border: solid rgb(198, 206, 106) 0.5px;
    border-radius: 10px;
    background-color: rgb(198, 206, 106);
}
.four {
    border: solid rgb(56, 176, 0) 0.5px;
    border-radius: 10px;
    background-color: rgb(56, 176, 0);
}
.five {
    border: solid rgb(37, 77, 255) 0.5px;
    border-radius: 10px;
    background-color: rgb(37, 77, 255);
}
.six {
    border: solid rgb(98, 0, 255) 0.5px;
    border-radius: 10px;
    background-color: rgb(98, 0, 255);
}
.seven {
    border: solid rgb(104, 212, 255) 0.5px;
    border-radius: 10px;
    background-color: rgb(104, 212, 255);
}
