* {
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
    /* font-weight: 900; */
}
.graghWhole {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 50px; */
    width: 635px;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 7px 1px rgb(159, 159, 159);
}
.week-th {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid rgb(206, 203, 203) 0.5px;
    height: auto;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 3px;
    color: gray;
}
.gragh {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
}
.gragh #absence {
    border-radius: 5px;
    background-color: rgb(177, 177, 177);
    width: 70px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(87, 87, 87);

    animation-name: gauge-bar;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
/* @keyframes gauge-bar {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
} */
.gragh #late {
    border-radius: 5px;
    /* background-color: rgb(241, 254, 105); */
    background-color: rgb(215, 215, 215);
    width: 70px;
    height: 170px;
    color: rgb(87, 87, 87);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.gragh #attendance {
    border-radius: 5px;
    /* background-color: rgb(171, 255, 122); */
    background-color: rgb(235, 235, 235);
    width: 70px;
    height: 250px;
    color: rgb(0, 0, 0, 0);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.gragh #early {
    border-radius: 5px;
    background-color: rgb(206, 206, 206);
    width: 70px;
    height: 30px;
    color: rgb(87, 87, 87);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.color {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: solid rgb(167, 167, 167) 0.5px;
}
#classColor {
    margin-top: 5px;
    width: 70px;
    height: 5px;
}
.one {
    border: solid rgb(255, 38, 0) 0.5px;
    border-radius: 5px;
    background-color: rgb(255, 38, 0);
}
.two {
    border: solid rgb(255, 153, 0) 0.5px;
    border-radius: 5px;
    background-color: rgb(255, 153, 0);
}
.three {
    border: solid rgb(198, 206, 106) 0.5px;
    border-radius: 5px;
    background-color: rgb(198, 206, 106);
}
.four {
    border: solid rgb(56, 176, 0) 0.5px;
    border-radius: 5px;
    background-color: rgb(56, 176, 0);
}
.five {
    border: solid rgb(37, 77, 255) 0.5px;
    border-radius: 5px;
    background-color: rgb(37, 77, 255);
}
.six {
    border: solid rgb(98, 0, 255) 0.5px;
    border-radius: 5px;
    background-color: rgb(98, 0, 255);
}
.seven {
    border: solid rgb(104, 212, 255) 0.5px;
    border-radius: 5px;
    background-color: rgb(104, 212, 255);
}
