* {
    box-sizing: border-box;
    margin: 0;
}
.whole {
    display: flex;
    transform: translate(10%, 0);
    width: 80%;
}
.Tracking-Progress {
    /* float: left;/ */
    position: relative;
    /* transform: translate(40%, 0); */
    width: 35%;
    max-width: 320px;
    min-width: 220px;
    height: 100vh;
    background-color: rgb(227, 227, 227);
    color: rgb(80, 80, 80);

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Tracking-Progress .text {
    width: 60%;
    height: auto;
    overflow: auto;
    font-size: 200%;
    color: gray;
    font-weight: 700;
    letter-spacing: -0.1px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translate(0, 50px);
    user-select: none;
    text-align: center;
}
.Step {
    width: 65%;
    max-width: 780px;
    min-width: 510px;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Step .explain {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 50px;
    left: 30px;
}
.explain div:first-child {
    font-size: 40px;
    color: rgb(103, 103, 103);
    margin-bottom: 10px;
}
.explain span,
.contents {
    position: absolute;
    font-size: 18px;
    color: rgb(103, 103, 103);
    left: 2px;
}
.Step button,
.schSite {
    font-size: 20px;
    color: gray;
    width: 300px;
    height: 60px;
    border: 0.5px solid rgb(157, 157, 157);
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Step button:nth-child(2):hover {
    box-shadow: 0 0 3px 0 rgb(121, 121, 121);
}
.contents {
    width: 100%;
    height: auto;
    margin-left: 30px;
    font-size: 18px;
    letter-spacing: -0.2px;
    color: rgb(136, 136, 136);
}
h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
}
h2 a {
    text-decoration: underline;
    color: rgb(0, 0, 223);
    font-weight: 500;
}

.Step > button:last-child {
    position: absolute;
    bottom: 80px;
    right: 50px;
    font-size: 18px;
    color: gray;
    width: 250px;
    height: 50px;
    border: 0.5px solid rgb(191, 191, 191);
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}
.Step button:last-child:hover {
    box-shadow: 0 0 3px 0 rgb(121, 121, 121);
    font-weight: 700;
}

.moodle {
    color: rgb(103, 103, 103);
    margin-bottom: 5px;
    margin-left: 40px;
}
.inputBox .input {
    margin-left: 35px;
}
.input {
    width: 100%;
}
.input input {
    display: inline-block;

    width: 140%;
    min-width: 200px;
    height: 45px;
    border: solid gray 0.5px;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 17px;
}
.input button {
    margin-left: 5px;
    color: rgb(103, 103, 103);
    background-color: rgb(232, 232, 232);
    border: solid gray 0.5px;
    border-radius: 8px;
    width: 80px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
}
.location {
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.input .backKey,
.input .homeKey {
    display: flex;
}
