* {
    box-sizing: border-box;
}
#whole {
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    min-height: 500px;
    /* position: relative; */
    margin-left: 400px;
}
.leftBar > .text {
    width: 180px;
    margin-top: 70px;
    text-align: center;
    font-weight: 600;
    color: rgb(0, 0, 209);
}
.section {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 100%;
    min-width: 480px;
    margin: 40px auto 0;
}
.section .step {
    font-size: 40px;
    color: rgb(103, 103, 103);
    font-weight: 500;
    margin-bottom: 10px;
}

.section .explain {
    font-size: 18px;
    font-weight: 400;
    color: rgb(103, 103, 103);
    left: 2px;
}

.contents,
.value {
    width: 600px;
    min-width: 550px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contents {
    align-items: center;
}
.process {
    align-items: left;
}
.getValue {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.contents > a {
    width: 300px;
    height: 45px;
    border: solid gray 0.5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    color: gray;
}
a {
    text-decoration: unset;
    color: rgb(0, 0, 209);
}

.contents > a:hover {
    box-shadow: 0 0 3px 0 rgb(121, 121, 121);
}

.shift {
    width: 500px;
    min-width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.shift a {
    width: 80px;
    margin-left: 10px;
}
/* .shift a:hover {
    user-select: none;
    /* cursor: pointer; 
} */
button {
    border: solid gray 0.5px;
    border-radius: 10px;
    /* margin-left: 10px; */
}
.shift button {
    width: 80px;
    height: 43px;
    font-size: 20px;
    font-weight: 400;
    color: gray;
    background-color: white;
}
.shift button:hover {
    box-shadow: 0 0 3px 0 rgb(121, 121, 121);
    user-select: none;
    cursor: pointer;
}
h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: -0.2px;
    color: rgb(136, 136, 136);
}

.moodleText {
    color: rgb(103, 103, 103);
    margin: 0 0 5px 5px;
}
.inputValue {
    width: auto;
    display: flex;
    flex-direction: row;
}
.inputId {
    width: 350px;
}
.inputMoodle {
    width: 350px;
    height: 45px;
    border: solid gray 0.5px;
    border-radius: 10px;
    padding-left: 5px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: gray;
    margin-bottom: 5px;
}
.inputValue button {
    margin-left: 5px;
    color: rgb(103, 103, 103);
    background-color: rgb(232, 232, 232);
    border: solid gray 0.5px;
    border-radius: 8px;
    width: 80px;
    height: 45px;
    font-size: 17px;
    font-weight: 500;
}
.inputValue button:hover {
    box-shadow: 0 0 3px 0 rgb(121, 121, 121);
    user-select: none;
    cursor: pointer;
}
