* {
    box-sizing: border-box;
}
#whole {
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    min-height: 500px;
    margin-left: 400px;
}
.leftBar > .text {
    width: 180px;
    height: 180px;
    margin-top: 50px;
    text-align: center;
    font-weight: 600;
    /* padding-top: 55px; */
    color: rgb(80, 80, 80);
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 10px 10px 20px #6e6e6e, -10px -10px 10px #ffffff;
    user-select: none;

    background-image: url("../styleSheets/image/Leephoter2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.section {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 100%;
    min-width: 480px;
    margin: 30px auto 7px;
    padding: 0 0 5px 5px;
    user-select: none;
    border-radius: 5px;
    border: none;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 0 3px 0 rgb(84, 84, 84);
}
.section .step {
    font-size: 40px;
    color: rgb(103, 103, 103);
    font-weight: 500;
    margin-bottom: 10px;
}

.section .explain {
    font-size: 18px;
    font-weight: 400;
    color: rgb(103, 103, 103);
    left: 2px;
}

.contents {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainContents {
    width: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    padding-bottom: 200px;
    font-family: "Nanum Gothic", sans-serif;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    color: rgb(50, 63, 255);

    /* background-image: url("");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center auto; */
}
.value {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    /* box-shadow: 0 0 10px -2px rgb(121, 121, 121); */
}
.inputBox {
}

.process {
    align-items: left;
}
.getValue {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.contents > a {
    width: 300px;
    height: 45px;
    border: solid gray 0.5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    color: gray;
}
a {
    text-decoration: unset;
    color: rgb(0, 0, 209);
}

.contents > a:hover {
    box-shadow: 0 0 3px 0 rgb(121, 121, 121);
}

.shift {
    width: 500px;
    min-width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.shift a {
    width: 80px;
    margin-left: 10px;
}
/* .shift a:hover {
    user-select: none;
    /* cursor: pointer; 
} */
button {
    border: solid gray 0.5px;
    border-radius: 10px;
    /* margin-left: 10px; */
}
.shift button {
    width: 80px;
    height: 43px;
    font-size: 20px;
    font-weight: 400;
    color: gray;
    background-color: white;
}
.shift button:hover {
    box-shadow: 0 0 3px 0 rgb(121, 121, 121);
    user-select: none;
    cursor: pointer;
}
h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: -0.2px;
    color: rgb(136, 136, 136);
}

.moodleText {
    color: rgb(103, 103, 103);
    margin: 0 0 5px 5px;
    user-select: none;
}
.inputValue {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.inputId {
    width: 250px;
}
.inputMoodle {
    width: 250px;
    height: 45px;
    border: solid gray 0.5px;
    border-radius: 10px;
    padding-left: 5px;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    color: gray;
    margin-bottom: 5px;
}
.inputMoodle:hover {
    outline: none;
}
.inputMoodle:focus {
    outline: none;
}
.inputValue button {
    color: rgb(255, 255, 255);
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 7px;
    width: 70px;
    height: 37px;
    font-size: 17px;
    font-weight: 700;
    user-select: none;
}
.bt {
    width: 70px;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.inputValue button:hover {
    box-shadow: 0 0 3px 0 rgb(121, 121, 121);
    user-select: none;
    cursor: pointer;
    font-weight: 700;
}
.inputValue button:active {
    border: none;
    outline: none;
    background-color: rgb(187, 187, 187);
    width: 68px;
    height: 36px;
}
.inputValue button:focus {
    outline: none;
}
